body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    width: 300px;
}

header>h1{
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

header>h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

nav>ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav>li{
    float: left;
}

nav>li>a{
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    color: black;
}

nav>li>a:hover{
    color: deepskyblue;
}

footer{
    background-color: cornflowerblue;
    padding: 10px;
}

footer>p{
    max-width: inherit;
    text-align: center;
    color: white;
}