body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    width: 300px;
}

header>h1{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

header>h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

footer{
    background-color: #363636;
    padding: 10px;
}

footer>p{
    max-width: inherit;
    text-align: center;
    color: white;
}